In [50]:
# Importing packages
import pandas as pd
import numpy as np
import random
from faker import Faker
import geonamescache
import random

In [51]:
num_individuals = 500
np.random.seed(500)

# Random ages between 20 and 90
ages = np.random.randint(20, 90, num_individuals)

# Education levels
education_levels = ['primary', 'high School', 'bachelor', 'master', 'phD']

# Adjusting the distribution
education_probabilities = [0.1, 0.45, 0.25, 0.17, 0.03]

# Randomly assigning education levels
education = np.random.choice(education_levels, num_individuals, p=education_probabilities)

# Creating the DataFrame
data = pd.DataFrame({
    'Age': ages,
    'Education Level': education
})

data.head()

   Age Education Level
0   75     high School
1   85        bachelor
2   37     high School
3   81        bachelor
4   51     high School