# Setting up

In [3]:
# Importing packages
import pandas as pd
import numpy as np
import random
from faker import Faker
import geonamescache
import random

# Generating Countries

In [4]:
# Initialize GeonamesCache
gc = geonamescache.GeonamesCache()

# Define the countries with their ISO country codes
countries_iso = {'US': 'United States', 'GB': 'United Kingdom', 'AU': 'Australia', 
                 'NZ': 'New Zealand', 'CA': 'Canada'}

In [5]:
# Function to get cities from GeonamesCache by country ISO code
def get_cities_by_country(country_iso):
    # Get all cities
    cities = gc.get_cities()
    # Filter cities by country ISO code
    country_cities = {geoid: city for geoid, city in cities.items() if city['countrycode'] == country_iso}
    return list(country_cities.values())

# Create a list of all cities for the specified countries
all_cities = []
for iso, country_name in countries_iso.items():
    # Get the ISO code for the country from geonamescache
    country_iso = gc.get_countries_by_names()[country_name]['iso']
    all_cities.extend(get_cities_by_country(country_iso))

In [11]:
# Simulate the city and country for each individual
individuals = [{'country': random.choice(list(countries_iso.values())),
                'city': random.choice(all_cities)['name']} for _ in range(500)]

# Check the first few entries
individuals[:5]

# Create a DataFrame with the simulated data
individuals_df = pd.DataFrame(individuals)

individuals_df.head(10)

          country                city
0  United Kingdom             Munster
1       Australia             Halifax
2          Canada        Great Wyrley
3          Canada          Middletown
4   United States         East Meadow
5     New Zealand        Severna Park
6       Australia         Lake Oswego
7     New Zealand            Brisbane
8   United States       North Olmsted
9  United Kingdom  Danforth East York

# Generating names and gender

In [10]:
def choose_faker(country, gender):
    if country == "United States":
        faker = Faker('en_US')
    elif country == "United Kingdom":
        faker = Faker('en_GB')
    elif country == "Australia":
        faker = Faker('en_AU')
    elif country == "New Zealand":
        faker = Faker('en_NZ')
    elif country == "Canada":
        faker = Faker('en_CA')
    else:
        print("some problems here lol")
        return None

    if gender == "male":
        return faker.name_male()
    elif gender == "female":
        return faker.name_female()
    else:
        return faker.name()

In [ ]:
apply()

# Generating Heights based on name/gender

In [7]:
mean_heights = {
    'United States' : {'male': 177, 'female': 163},
    'United Kingdom' : {'male': 178, 'female': 164},
    'Canada' : {'male': 178, 'female': 165},
    'Australia' : {'male': 179, 'female': 165},
    'New Zealand' : {'male': 178, 'female': 165},
}

st_dev_height = 6

In [12]:
# Function to generate height based on country and gender
def generate_height(country, gender):
    mean_height = mean_heights[country][gender]
    # Sample from a normal distribution around the mean height
    return np.random.normal(mean_height, std_dev)

In [ ]:
# Generate heights for each individual in the DataFrame
df['Height'] = df.apply(lambda x: generate_height(x['Country'], x['Gender']), axis=1)

# Building the table

# FINAL DATASET

In [ ]:
Data = {
    'Name': ,
    'Sample_ID': ,
    'Age': ,
    'Gender': ,
    'BMI': ,
    'Height': ,
    'Country': ,
    'City': ,
    'Education level': ,

}