In [1]:
from faker import Faker
import geonamescache
import random
import pandas as pd

## Assigned the Countries (UK, US, Canada, Australia, New Zealand)

In [2]:
gc = geonamescache.GeonamesCache()
countries_iso = {'US': 'United States', 'GB': 'United Kingdom', 'AU': 'Australia', 
                 'NZ': 'New Zealand', 'CA': 'Canada'}

In [4]:
# Function to get cities from GeonamesCache by country ISO code
def get_cities_by_country(country_iso):
    # Get all cities
    cities = gc.get_cities()
    # Filter cities by country ISO code
    country_cities = {geoid: city for geoid, city in cities.items() if city['countrycode'] == country_iso}
    return list(country_cities.values())

# Create a list of all cities for the specified countries
all_cities = []
for iso, country_name in countries_iso.items():
    # Get the ISO code for the country from geonamescache
    country_iso = gc.get_countries_by_names()[country_name]['iso']
    all_cities.extend(get_cities_by_country(country_iso))

In [9]:
gender_list = ["male", "female"]

In [12]:
# Simulate the city and country for each individual
individuals = [{'country': random.choice(list(countries_iso.values())),
                'city': random.choice(all_cities)['name'],
                'gender': random.choice(gender_list)} for _ in range(500)]

# Check the first few entries
individuals[:10]

test_data = pd.DataFrame(individuals[:10])
test_data.head()

          country             city  gender
0       Australia          Bedford  female
1  United Kingdom           Elmont  female
2  United Kingdom  High Park North    male
3   United States        Gage Park    male
4          Canada         Lawndale  female

## Name and gender (male, female)

In [21]:
def choose_faker(country, gender):
    if country == "United States":
        faker = Faker('en_US')
    elif country == "United Kingdom":
        faker = Faker('en_GB')
    elif country == "Australia":
        faker = Faker('en_AU')
    elif country == "New Zealand":
        faker = Faker('en_NZ')
    elif country == "Canada":
        faker = Faker('en_CA')
    else:
        print("some problems here lol")
        return None

    if gender == "male":
        return faker.name_male()
    elif gender == "female":
        return faker.name_female()
    else:
        return faker.name()

In [26]:
name_list =[]
for index in range(len(test_data)):
    row = test_data.iloc[index]
    country_name = row["country"]
    gender= row["gender"]
    name_list.append(choose_faker(country_name, gender))

In [28]:
test_data["name"] = name_list
test_data.head()

          country             city  gender              name
0       Australia          Bedford  female   Jessica Wheeler
1  United Kingdom           Elmont  female  Rachel Stevenson
2  United Kingdom  High Park North    male      Adam Vincent
3   United States        Gage Park    male   Martin Sullivan
4          Canada         Lawndale  female      Taylor Lopez